@import "~/app/styles/colors.scss";
$font-color: map-get($colors, "default-font-color");

.notificationDate {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
}

.notificationCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background: rgba($font-color, 0.05);
  border-radius: 10px;
}

.notificationTitle {
  color: rgba($font-color, 0.8);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.notificationType {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.notificationType,
.notificationText,
.notificationTime {
  color: rgba($font-color, 0.5);
}

.readMore {
  padding: 0;
}

.readMore,
.notificationTime,
.notificationText {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.notificationTime {
  margin-left: auto;
}

.notificationText {
  line-height: 1.8rem;
}

.notificationBell {
  position: relative;
}

.notificationCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}
