$dropzone-border: rgba(192, 188, 188, 0.5);
$dropzone-over: #f2f7fe;

.dropzone-area {
  padding: 1rem;
  position: relative;
  margin-top: 1.5rem;
  min-height: 16rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed $dropzone-border;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $dropzone-over;
  }

  .file-info {
    font-size: 1.1rem;
  }

  [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .file-upload-icon svg {
    height: 6rem;
    max-width: 6rem;
    width: 100%;
    margin-bottom: 0.5rem;
    stroke: var(--default-font-color);
  }
}

.dropzone--over {
  border: 2px solid var(--primary);
  background: $dropzone-over;
}

.dropzone-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}
