$default-font-color: #000;

.tableContainer {
  overflow-x: auto;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.table {
  min-width: 100%;
  // table-layout: auto;
  line-height: 100%;
  border: none;
  border-collapse: collapse;
  caption-side: bottom;

  th,
  td {
    padding: 10px;
    background: #fff;
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  th {
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      border-right: none;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.cursorPointer {
  cursor: pointer;
}

.sortingIcon,
.columnCanSort {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.columnCanSort {
  display: inline-flex;
  flex-direction: column;

  svg:nth-child(2) {
    margin-top: -8px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin: 20px 30px;

  a,
  span {
    font-size: 20px;
    font-weight: 400;

    &.activePage {
      cursor: default;
      color: var(--gray);
    }
  }
}
