$border-color: rgba(0, 0, 0, 0.1);

.table {
  border-spacing: 0;
  // width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
  line-height: 1.2rem;
  table-layout: fixed;
  // border: none;
  // width: 100%;
  background-color: #fff;
  th {
    color: rgba(#050a04, 0.5);
    border-right: 1px solid $border-color;
    box-sizing: border-box;
    padding: 1rem 1rem;
    background: var(--table-header-color);
    font-size: 14px;
    text-align: center;
  }
  td {
    white-space: nowrap;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding: 1rem;
    font-size: 14px;
    &:nth-child(7), 
    &:nth-child(8) {
      text-align: center; /* Центрируем текст заголовков */
    }

  }
  tr:last-child {
    border-bottom: 1px solid $border-color;
  }
  
}

// .cursorPointer {
//   cursor: pointer;
// }

// .sortingIcon,
// .columnCanSort {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 0;
//   font-size: 1.5rem;
// }

// .columnCanSort {
//   display: inline-flex;
//   flex-direction: column;

//   svg:nth-child(2) {
//     margin-top: -0.8rem;
//   }
// }

// .resizer {
//   position: absolute;
//   top: 0;
//   height: 100%;
//   width: 2px;
//   cursor: col-resize;
//   user-select: none;
//   touch-action: none;
//   // column resize direction: ltr
//   right: 0;
// }

// .resizer.isResizing {
//   background: var(--primary);
// }

// .pagination {
//   display: flex;
//   align-items: center;
//   justify-content: end;
//   gap: 1rem;
//   margin: 2rem 3rem;

//   a,
//   span {
//     font-size: 2rem;
//     font-weight: 400;

//     &.activePage {
//       cursor: default;
//       color: var(--gray);
//     }
//   }
// }
