.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--menu-bg);
  backdrop-filter: blur(30px);
  height: 8rem;
  width: 100%;
  padding: 1.8rem 3rem;
  box-sizing: border-box;
}

.logo {
  font-family: "TT Firs Neue";
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.4rem;
  text-align: left;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu-actions {
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    width: 3.5rem;
    height: 2.5rem;
  }
}
