.search-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--default-font-color);
  border-radius: 10px;
  background: #fff;
  padding: 0.7rem 1.2rem;
}

.search-icon {
  display: inline-block;
  width: 2.8rem;
  height: 2.6rem;
  opacity: 0.3;
  margin-right: 4px;
  flex-shrink: 0;
}

.search-input {
  box-sizing: border-box;
  flex: 1;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;

  &::placeholder {
    opacity: 0.3;
  }

  &,
  &:focus-visible {
    border: none;
    outline: none;
  }
}
