
.app {
    display: flex;
    min-height: 100vh;
  }
  .content {
    background-color: #d8d8d8;
    margin-left: 240px;
    padding: 0 30px;
    flex-grow: 1;
    // width: 1000Px;
    scrollbar-width: none;
  }
  .content::-webkit-scrollbar {
    display: none; 
  }
  
  