@import "~/app/styles/colors.scss";
$default-font-color: map-get($colors, "default-font-color");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "TT Firs Neue";
  color: var(--default-font-color);
}

.app {
  display: flex;
  min-height: 100vh;
}
.content {
  background-color: #d8d8d8;
  margin-left: 240px;
  padding: 0 30px;
  flex-grow: 1;
  // width: 1000Px;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .content {
    margin: 0;
  }
}
// @media (max-width: 992px) {
//   html,
//   body {
//     font-size: 8px;
//   }
// }
