@import "~/app/styles/colors.scss";
$font-color: map-get($colors, "default-font-color");

a {
  text-decoration: none;
  color: var(--default-font-color);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.primary-btn,
.outline-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 400;

  border: 1px solid var(--primary);
  border-radius: 5px;
}

.primary-btn {
  color: #fff;
  background: var(--primary);

  &.active {
    box-shadow: 0px 4px 4px 0px rgba(182, 195, 249, 0.5);
  }
}

.outline-btn {
  color: var(--primary);
  background: #fff;

  &.active {
    color: #fff;
    background: var(--primary);
  }
}

.section-btn {
  color: $font-color;
  background: rgba($font-color, 0.05);
  padding: 0.8rem 2rem;

  border: none;
  border-radius: 10px;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;

  &.active {
    border: 1px solid rgba($font-color, 0.2);
    background: #fff;
  }
}
