.modal {
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content,
  .modal-body {
    border-radius: 10px;
    width: 365px;
  }
  .modal-body {
    padding: 3rem 2rem;
  }
}

.rounded-modal {
  .modal-content,
  .modal-body {
    border-radius: 20px;
  }
  .modal-body {
    height: max(90vh, 100%);
  }
}

.gradient-modal {
  .modal-content,
  .modal-body {
    border-radius: 10px;
    background: var(--main-bg-color);
  }
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 3rem;
  }
}
