@import "~/app/styles/colors.scss";
$font-color: map-get($colors, "default-font-color");

.gray-text {
  color: rgba($font-color, 0.5);
}

.main-title {
  color: var(--default-font-color);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.title-sm {
  color: $font-color;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.title-md {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.title-lg {
  color: $font-color;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.link {
  display: inline-block;
  width: 100%;
  color: var(--link-color);
  text-decoration: underline;
  word-wrap: break-word;
}

.modal-title {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
