.sidebar {
  position: absolute;
  right: 0;
  background: #fff;
  padding-right: 1rem;
  border: 1px solid gray;
  border-radius: 20px 0 0 20px;
  height: 100%;
  overflow-y: auto;
}

.sidebar.collapsed {
  padding: 0 2rem 2rem;
  .content {
    width: 35rem;
  }
  .expand-btn svg {
    transform: rotate(-180deg);
  }
}

.content {
  width: 4rem;
  transition: width 0.3s ease-in-out;
}

.expand-btn {
  display: flex;
  justify-content: end;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: 2rem;
}
